<div class="page-header">
  <h1>About Page</h1>
</div>
<img class="img-circle" src="https://images.unsplash.com/photo-1627638157101-b4ca0d4e51d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=994&q=80" alt="Jungle Gym">
<p>
    The company Jungle was first found in 2022 by the president Khurram Virani. The current manager Brian Duong is managing it's one and only store. Please visit Brian and the store! 
</p>